<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shortcut</key>
	<array>
		<dict>
			<key>Image</key>
			<string>Shortcut_1</string>
			<key>Title</key>
			<string>Sid&apos;s company now requires all eployees to use a new ethics training and tracking app.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_2</string>
			<key>Title</key>
			<string>Title_2</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_3</string>
			<key>Title</key>
			<string>Title_3</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_4</string>
			<key>Title</key>
			<string>Title_4</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_5</string>
			<key>Title</key>
			<string>Title_5</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_6</string>
			<key>Title</key>
			<string>Title_6</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_7</string>
			<key>Title</key>
			<string>Title_7</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_8</string>
			<key>Title</key>
			<string>Title_8</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_9</string>
			<key>Title</key>
			<string>Title_9</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_10</string>
			<key>Title</key>
			<string>Title_10</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_11</string>
			<key>Title</key>
			<string>Title_11</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_12</string>
			<key>Title</key>
			<string>Title_12</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_13</string>
			<key>Title</key>
			<string>Title_13</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_14</string>
			<key>Title</key>
			<string>Title_14</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Shortcut_15</string>
			<key>Title</key>
			<string>Title_15</string>
		</dict>
	</array>
	<key>MakingEJ</key>
	<array>
		<dict>
			<key>Image</key>
			<string>MakingEJ_1</string>
			<key>Title</key>
			<string>He can Check his Gut, the lizard function of his brain, which produces quick, automatic, emotionally charged judgements.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>MakingEJ_2</string>
			<key>Title</key>
			<string>He can Use his Head, the owl function, to apply ethics standards or tests that show why the action is right or wrong.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>MakingEJ_3</string>
			<key>Title</key>
			<string>And he can Engage the Crowd, his dolphin pod, by discussing what is right or wrong with others he trusts by imitating what they say or do.</string>
		</dict>
	</array>
	<key>CheckGut</key>
	<array>
		<dict>
			<key>Image</key>
			<string>CheckGut_1</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_2</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_3</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_4</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_5</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_6</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_7</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_8</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_9</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_10</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_11</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_12</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_13</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_14</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_15</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_16</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_17</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_18</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_19</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_20</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_21</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_22</string>
			<key>Title</key>
			<string>[Pattern/Emotion Triggers]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_23</string>
			<key>Title</key>
			<string>[Test my Gut &amp; Develop Skills]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_24</string>
			<key>Title</key>
			<string>[How to Use my Head]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_25</string>
			<key>Title</key>
			<string>[Decision Path]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>CheckGut_26</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
	</array>
	<key>UseHead</key>
	<array>
		<dict>
			<key>Image</key>
			<string>UseHead_0</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_1</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_2</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_3</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_4</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_5</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_6</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_7</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_8</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_9</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_10</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_11</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_12</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_13</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_14</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_15</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_16</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_17</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_18</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_19</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_20</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_21</string>
			<key>Title</key>
			<string>[See Lists of Ethics Tests]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_22</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_23</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>UseHead_24</string>
			<key>Title</key>
			<string>[How to Engage the Crowd]</string>
		</dict>
	</array>
	<key>EngageCrowd</key>
	<array>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_0</string>
			<key>Title</key>
			<string>Phil&apos;s crowd offers advice on whether to use the app&apos;s shortcut.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_1</string>
			<key>Title</key>
			<string>Brett&apos;s crowd could help him decide whether his salesman lied when he didn&apos;t clear up the misunderstanding.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_2</string>
			<key>Title</key>
			<string>Megan needs her crowd to help her decide whether the new marketing campaign would be deceptive.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_3</string>
			<key>Title</key>
			<string>Who is my Crowd?</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_4</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_5</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_6</string>
			<key>Title</key>
			<string>How do I connect with my crowd?</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_7</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_8</string>
			<key>Title</key>
			<string>Why do I need a crowd?</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_9</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_10</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_11</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_12</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_13</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_14</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_15</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_16</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_17</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_18</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_19</string>
			<key>Title</key>
			<string>[Choose my Crowd]</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>EngageCrowd_20</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
	</array>
	<key>Comic1</key>
	<array>
		<dict>
			<key>Image</key>
			<string>image-1</string>
			<key>Title</key>
			<string>Unique Title for Image </string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-2</string>
			<key>Title</key>
			<string>Title 2</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-3</string>
			<key>Title</key>
			<string>Title 3</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-4</string>
			<key>Title</key>
			<string>Title 4</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-5</string>
			<key>Title</key>
			<string>Title 5</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-6</string>
			<key>Title</key>
			<string>Title 6</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-7</string>
			<key>Title</key>
			<string>Title 7</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-8</string>
			<key>Title</key>
			<string>Title 8</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-9</string>
			<key>Title</key>
			<string>Title 9</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>image-10</string>
			<key>Title</key>
			<string>Title 10</string>
		</dict>
	</array>
</dict>
</plist>
