<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Rolf</string>
		<key>Position</key>
		<string>Compliance/Ethics Officer</string>
		<key>Description</key>
		<string>This is a longer description about Rolf.</string>
		<key>BackgroundImage</key>
		<string>people-pic-1</string>
		<key>ProfileImage</key>
		<string>people-profile-1</string>
		<key>Comics</key>
		<array>
			<dict>
				<key>Image</key>
				<string>image-1</string>
				<key>Title</key>
				<string>Title 1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-2</string>
				<key>Title</key>
				<string>Title 2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-3</string>
				<key>Title</key>
				<string>Title 3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-4</string>
				<key>Title</key>
				<string>Title 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brandon</string>
		<key>Position</key>
		<string>Chief Corporate Councel</string>
		<key>Description</key>
		<string>This is a longer description about Brandon.</string>
		<key>BackgroundImage</key>
		<string>people-pic-2</string>
		<key>ProfileImage</key>
		<string>people-profile-2</string>
		<key>Comics</key>
		<array>
			<dict>
				<key>Image</key>
				<string>image-1</string>
				<key>Title</key>
				<string>Title 1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-2</string>
				<key>Title</key>
				<string>Title 2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-3</string>
				<key>Title</key>
				<string>Title 3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-4</string>
				<key>Title</key>
				<string>Title 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kimberly</string>
		<key>Position</key>
		<string>Board Member</string>
		<key>Description</key>
		<string>This is a longer description about Kimberly.</string>
		<key>BackgroundImage</key>
		<string>people-pic-3</string>
		<key>ProfileImage</key>
		<string>people-profile-3</string>
		<key>Comics</key>
		<array>
			<dict>
				<key>Image</key>
				<string>image-1</string>
				<key>Title</key>
				<string>Title 1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-2</string>
				<key>Title</key>
				<string>Title 2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-3</string>
				<key>Title</key>
				<string>Title 3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-4</string>
				<key>Title</key>
				<string>Title 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Deosha</string>
		<key>Position</key>
		<string>HR Manager</string>
		<key>Description</key>
		<string>This is a longer description about Deosha.</string>
		<key>BackgroundImage</key>
		<string>people-pic-4</string>
		<key>ProfileImage</key>
		<string>people-profile-4</string>
		<key>Comics</key>
		<array>
			<dict>
				<key>Image</key>
				<string>image-1</string>
				<key>Title</key>
				<string>Title 1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-2</string>
				<key>Title</key>
				<string>Title 2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-3</string>
				<key>Title</key>
				<string>Title 3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-4</string>
				<key>Title</key>
				<string>Title 4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bob</string>
		<key>Position</key>
		<string>Front Line Employee</string>
		<key>Description</key>
		<string>This is a longer description about Bob.</string>
		<key>BackgroundImage</key>
		<string>people-pic-5</string>
		<key>ProfileImage</key>
		<string>people-profile-5</string>
		<key>Comics</key>
		<array>
			<dict>
				<key>Image</key>
				<string>image-1</string>
				<key>Title</key>
				<string>Title 1</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-2</string>
				<key>Title</key>
				<string>Title 2</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-3</string>
				<key>Title</key>
				<string>Title 3</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>image-4</string>
				<key>Title</key>
				<string>Title 4</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
